@keyframes strokeOffsetLine1 {
    0% {
        stroke-dashoffset: 505%
    }
    100% {
        stroke-dashoffset: 312%
    }
}

@keyframes strokeOffsetLine2 {
    0% {
        stroke-dashoffset: 150%
    }
    100% {
        stroke-dashoffset: 0%
    }
}

.line1,
.line2,
.line3 {
    position: absolute;
}

.line3 {
    top: 535px;
}

.line1anim,
.line2anim,
.line3anim {
    position: absolute;
    top: 0;
    left: 0;
}

.line1anim path {
    animation: strokeOffsetLine1 10s linear infinite;
}

.line2anim path,
.line3anim path {
    animation: strokeOffsetLine2 10s linear infinite;
}

.footer {
    position: relative;
}

.container {
    position: absolute;
    padding: 288px 208px 100px 208px;
}

.hiddenLinkContainer,
.linkContainer {
    width: fit-content;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.hiddenLinkContainer {
    margin-bottom: 278px;
}

.title,
.hiddenLink {
    line-height: 100%;
    letter-spacing: -0.01em;
}

.title {
    margin-bottom: 32px;
    display: block;
}

.hiddenLink {
    margin-bottom: 17px;
    font-size: 80px;
}

.hiddenLinkBorder {
    border: 1px solid rgba(152, 150, 168, 0.5);
    transition: border .2s ease;
}

.hiddenLinkBorder:before {
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    transition: transform .3s ease;
}

.infoContainer {
    flex: 0 0 30%;
}

.infoNav,
.firmTaxInfo,
.nav {
    display: flex;
    justify-content: space-between;
}

.infoNav {
    margin-bottom: 50px;
}

.firmTaxInfo {
    width: 100%;
}

.firmInfo,
.infoNav,
.firmTaxInfo {
    font-size: 24px;
    line-height: 200%;
}

.linkContainer {
    margin-bottom: 27px;
}

.mail {
    margin-bottom: 8px;
    line-height: 150%;
}

.nav {
    flex: 0 0 65%;
    flex-wrap: wrap;
    z-index: 3;
}

.navLinks {
    flex: 0 0 33%;
    text-align: start;
    cursor: pointer;
}

.firmTaxInfo,
.lisence {
    color: #9896A8;
}

.lisence {
    font-size: 20px;
    line-height: 160%;
}

.mail:hover+.hiddenLinkBorder,
.hiddenLink:hover+.hiddenLinkBorder {
    border: none;
}

.mail:hover+.hiddenLinkBorder:before,
.hiddenLink:hover+.hiddenLinkBorder:before {
    display: block;
    border: 1px solid white;
    transform: translateX(0%);
}

@media (max-width: 1919px) {
    .container {
        padding: 21.20vh 11.1vw 12.96vh 11.1vw;
    }
    .hiddenLink {
        font-size: 60px;
    }
    .hiddenLinkContainer {
        margin-bottom: 24.44vh;
    }
    .firmTaxInfo {
        flex-direction: column;
    }
    .infoContainer {
        flex: 0 0 36%;
    }
    .navLinks:nth-child(-3n+4) {
        flex: 0 0 34%;
    }
    .navLinks {
        flex: 0 0 30%;
    }
}

@media(max-width:1439px) {
    .container {
        padding: 21.2vw 8.3vw 12.96vw 8.3vw;
    }
    .title,
    .hiddenLink {
        font-size: 50px;
        line-height: 120%;
    }
    .infoContainer,
    .nav {
        flex: 1 0 50%;
    }
    .infoContainer {
        margin-bottom: 64px;
        font-size: 24px;
    }
    .linkContainer {
        line-height: 150%;
    }
    .firmTaxInfo {
        flex-direction: row;
        justify-content: left;
    }
    .firmTaxInfo,
    .nav {
        line-height: 240%;
    }
    .firmInfo:first-child {
        margin-right: 32px;
    }
    .infoNav {
        flex-wrap: wrap;
    }
    .nav {
        font-size: 20px;
    }
    .navLinks {
        flex: 1 0 33%;
    }
    .navLinks:first-child {
        margin-bottom: 24px;
    }
    .lisence {
        font-size: 16px;
    }
}

@media (max-width: 767px) {
    .container {
        padding: 8.33vw 6.33vw;
        display: flex;
        flex-direction: column;
    }
    .container,
    .infoContainer,
    .firmTaxInfo,
    .nav {
        align-items: center;
        justify-content: center;
    }
    .title,
    .hiddenLink {
        font-size: 28px;
        line-height: 214%;
        text-align: center;
    }
    .title {
        margin-bottom: 8px;
    }
    .hiddenLinkContainer {
        margin-bottom: 17.9vw;
    }
    .linkContainer,
    .navLinks,
    .firmInfo {
        font-size: 18px;
    }
    .linkContainer {
        margin-bottom: 32px;
        line-height: 100%;
    }
    .infoContainer {
        display: flex;
        flex-direction: column;
        margin-bottom: 48px;
    }
    .firmTaxInfo {
        flex-direction: column;
    }
    .firmInfo,
    .navLinks {
        line-height: 156%;
    }
    .firmInfo:first-child {
        margin-right: unset;
        margin-bottom: 12px;
    }
    .nav {
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .navLinks {
        flex: unset!important;
    }
    .navLinks:first-child {
        margin-bottom: unset;
    }
    .navLinks:not(:last-child) {
        margin-bottom: 12px;
    }
    .lisence {
        text-align: center;
    }
    .line2 {
        left: -117%;
    }
    .line3 {
        left: -290%;
    }
}