@keyframes strokeOffsetLine1 {
    0% {
        stroke-dashoffset: 150%
    }
    100% {
        stroke-dashoffset: 0%
    }
}

@keyframes strokeOffsetLine2 {
    0% {
        stroke-dashoffset: 505%
    }
    100% {
        stroke-dashoffset: 312%
    }
}

.line1,
.line1anim,
.line2,
.line2anim,
.line3,
.line3anim {
    position: absolute;
}

.line1 {
    top: 110px;
}

.line2 {
    left: 63%;
}

.line3 {
    top: 716px;
}

.line1anim,
.line2anim,
.line3anim {
    top: 0;
    left: 0;
    right: 0;
}

.line1anim,
.line2anim,
.line3anim {
    bottom: 0;
}

.line1anim path,
.line3anim path {
    animation: strokeOffsetLine1 10s linear infinite;
}

.line2anim path {
    animation: strokeOffsetLine2 10s linear infinite;
}

.container {
    padding: 151px 208px 115px 208px;
}

.title {
    margin-bottom: 60px;
}

.content {
    display: flex;
    flex-wrap: wrap;
}

.content>div {
    flex: 0 0 35.6%;
}

.content>div:nth-child(-2n+5) {
    margin-right: 32px;
}

.content>div:nth-child(-n+4) {
    margin-bottom: 32px;
}

@media (max-width: 1919px) {
    .container {
        padding: 13.98vh 11.11vw 10.65vh 11.11vw;
    }
    .title {
        margin-bottom: 7.41vh;
    }
    .line1 {
        top: 15vh;
    }
    .line2 {
        top: -13vh;
        left: 52%;
    }
    .line3 {
        top: 60vh
    }
}

@media (max-width: 1439px) {
    .container {
        padding: 13.67vh 8.33vw 5.58vh 8.33vw;
    }
    .title {
        margin-bottom: 6.05vh;
    }
    .content {
        flex-direction: column;
    }
    .content>div {
        flex: 0 0 100%;
    }
    .content>div:nth-child(-2n+5) {
        margin-right: unset;
    }
    .content>div:nth-child(-n+4) {
        margin-bottom: unset;
    }
    .content>div:not(:last-child) {
        margin-bottom: 32px;
    }
    .line3 {
        top: 100vh;
        right: -31%;
    }
}