@keyframes strokeOffset {
    0% {
        stroke-dashoffset: 505%
    }
    100% {
        stroke-dashoffset: 128%
    }
}

.section {
    padding-top: 108px;
}

.container {
    position: relative;
    margin-top: 3vh;
    margin-left: 208px;
    margin-right: 208px;
}

.imageAnimContainer,
.mainContentContainer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.imageAnim {
    animation: strokeOffset 15s linear infinite;
}

.mainContentContainer {
    padding: 62px 183px 79px 77px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title,
.desc {
    letter-spacing: -0.02em;
}

.title {
    font-size: 48px;
    font-weight: 400;
    line-height: 133%;
}

.codeAround {
    color: #3D67FF;
}

.cursor {
    color: red;
}

.desc {
    font-size: 20px;
    line-height: 160%;
}

.bottomDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    position: relative;
}

.btn span {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn:hover .shadow,
.btn:active .shadow {
    filter: url(#filter0_d_268_617);
}

.btn:active path {
    fill: #385CDE;
}

@media (max-width: 1919px) {
    .container {
        margin-top: 1vh;
        margin-right: 6vw;
        margin-left: 6vw;
    }
    .mainContentContainer {
        padding: 4.86vw 5.05vw 8.06vw 5.05vw;
    }
    .title {
        margin-bottom: 100px;
        font-size: 40px;
        line-height: 140%;
    }
    .title h1 {
        margin-bottom: 32px;
    }
    .desc {
        font-size: 18px;
    }
}

@media(max-width: 1439px) {
    .container {
        margin-top: 1vh;
        margin-right: 8.33vw;
        margin-left: 8.33vw;
    }
    .sectionTitleAnimation {
        display: none;
    }
    .mainContentContainer {
        padding: 0vw;
        position: unset;
    }
    .desc {
        font-size: 16px;
    }
    .bottomDiv {
        width: 102%;
    }
    .btn span {
        font-size: 14px;
    }
    .btn svg {
        width: 97%;
    }
    @keyframes strokeOffset {
        0% {
            stroke-dashoffset: 505%
        }
        100% {
            stroke-dashoffset: 107%
        }
    }
}

@media(max-width: 767px) {
    .container {
        margin-left: 6.33vw;
        margin-right: 6.33vw;
    }
    .title {
        margin-bottom: 42px;
        font-size: 28px;
        line-height: 136%;
    }
    .title span {
        text-transform: lowercase;
    }
    .bottomDiv {
        display: none;
    }
    .btn {
        width: 200px;
        margin-bottom: 30px;
    }
    .btn svg {
        position: relative;
    }
    .btn span {
        font-size: 14px;
    }
}