.container {
    width: 57%;
    display: flex;
    justify-content: space-between;
}

.title,
.desc {
    line-height: 160%;
}

.title {
    font-weight: 400;
    font-size: 32px;
}

.desc {
    font-size: 16px;
    letter-spacing: -0.02em;
}

@media (max-width: 1919px) {
    .container {
        width: 67%;
        margin-bottom: 47px;
    }
}

@media (max-width: 1439px) {
    .container {
        width: 100%;
    }
    .title {
        font-size: 30px;
    }
    .desc {
        line-height: 100%;
    }
}

@media (max-width: 767px) {
    .container {
        flex-wrap: wrap;
    }
    .container div {
        flex: 0 0 42%;
    }
    .container div:first-child {
        margin-bottom: 32px;
    }
}