.container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-left: 10.8vw;
    padding-right: 10.8vw;
    margin-top: 27.5px;
    margin-bottom: 36px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}

.svg {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: -1;
}

.svgPath path {
    transition: d .5s linear;
}

.progressAnim {
    animation: lineAnimShadow 3s ease-in-out infinite;
}

@keyframes lineAnimShadow {
    0% {
        stroke: #fff;
        box-shadow: 0px 0px 2px 0px #FFFFFF;
    }
    25%,
    75% {
        stroke: rgba(61, 121, 255, 0.8);
    }
    100% {
        stroke: #fff;
        box-shadow: 0px 0px 2px 0px #FFFFFF;
    }
}

@media (max-width: 1919px) {
    .container {
        padding-left: 11.1vw;
        padding-right: 11.1vw;
    }
}

@media (max-width: 1439px) {
    .container {
        justify-content: center;
    }
}