.container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-left: 208px;
    padding-right: 208px;
    margin-top: 27.5px;
    margin-bottom: 36px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}