.container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-left: 10.8vw;
    padding-right: 10.8vw;
    margin-top: 27.5px;
    margin-bottom: 36px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}

@media (max-width: 1919px) {
    .container {
        padding-left: 11.1vw;
        padding-right: 11.1vw;
    }
}

@media (max-width: 1439px) {
    .container {
        justify-content: center;
    }
}