.container {
    padding: 151px 208px 157px 208px;
}

.listContainer {
    display: flex;
    flex-wrap: wrap;
}

.title {
    margin-bottom: 112px;
}

.title span {
    color: #3D67FF;
}

.listContainer div {
    flex: 0 0 48%;
}

.listContainer>div:not(:last-child) {
    margin-right: 28px;
}

.listContainer div:not(:nth-child(n+4)) {
    margin-bottom: 72px;
}