.container {
    padding: 151px 208px 157px 208px;
}

.listContainer {
    display: flex;
    flex-wrap: wrap;
}

.title {
    margin-bottom: 112px;
}

.title span {
    color: #3D67FF;
}

.listContainer div {
    flex: 0 0 48%;
}

.listContainer>div:not(:last-child) {
    margin-right: 28px;
}

.listContainer>div:not(:nth-child(n+5)) {
    margin-bottom: 72px;
}

@media (max-width: 1919px) {
    .container {
        padding: 13.98vh 11.1vw 12.69vh 11.1vw;
    }
    .listContainer div {
        flex: 0 0 47%;
    }
    .listContainer>div:not(:last-child) {
        margin-right: 32px;
    }
    .listContainer>div:not(:nth-child(n+5)) {
        margin-bottom: unset;
    }
    .listContainer>div:not(:nth-child(n+5)) {
        margin-bottom: 60px;
    }
}

@media(max-width: 1439px) {
    .listContainer div {
        flex: 1 0 50%;
    }
    .listContainer>div:not(:nth-child(n+6)) {
        margin-bottom: 64px;
    }
}

@media(max-width: 767px) {
    .container {
        padding: 8.33vw 6.33vw;
    }
    .title {
        margin-bottom: 32px;
    }
    .listContainer {
        height: 205px;
        overflow-y: scroll;
    }
}