@font-face {
    font-family: 'Visby Medium Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Visby Medium Italic'), url('./src/fonts/VisbyMedium\ Italic.woff') format('woff');
}

@font-face {
    font-family: 'Visby Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Visby Medium'), url('./src/fonts/VisbyMedium.woff') format('woff');
}

body {
    color: #FFF;
    font-family: 'IBM Plex Mono';
}

body,
section,
footer {
    background-color: #0A0A22;
}

section,
footer {
    height: 100vh;
    position: relative;
    scroll-snap-align: start;
}

button {
    background: none;
    border: none;
}

a {
    text-decoration: none;
}

button,
a {
    color: unset;
    cursor: pointer;
}

p,
h1,
h2,
h3 {
    margin-block-start: unset;
    margin-block-end: unset;
    margin-inline-start: unset;
    margin-inline-end: unset;
}

h2 {
    font-weight: 400;
    font-size: 80px;
    line-height: 112%;
    letter-spacing: -0.02em;
}

p {
    font-size: 18px;
    line-height: 156%;
}

ul {
    list-style-type: unset;
    margin-block-start: unset;
    margin-block-end: unset;
    margin-inline-start: unset;
    margin-inline-end: unset;
    padding-inline-start: unset;
}

::-webkit-scrollbar-thumb {
    background-color: #96ADFF;
}

::-webkit-scrollbar {
    width: 1px;
    height: 0px;
}

@media (max-width: 1919px) {
    h2 {
        font-size: 60px;
        line-height: 117%;
    }
}

@media (max-width: 1439px) {
    section,
    footer {
        height: unset;
        scroll-snap-align: unset;
    }
    h2 {
        font-size: 50px;
        line-height: 120%;
    }
}