.container {
    padding: 95px 129px 0px 208px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.worksContainer {
    flex: 0 0 50%;
    height: 984px;
    overflow-y: scroll;
}

.imgContainer {
    margin-bottom: 32px;
    width: 634px;
    height: 643px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

.auto {
    width: 500px;
    height: 653px;
}

.image {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    position: absolute;
    bottom: 0;
    left: -7px;
    will-change: height;
}

.active {
    background: rgba(255, 255, 255, 0.1)!important;
}

.hiddenLink {
    padding-top: 42px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link {
    width: 40%;
    display: block;
    padding: 57px 96px;
    color: #3D67FF;
    text-align: center;
    font-size: 24px;
    line-height: 138%;
}

.hiddenLink:hover .link {
    border: 2px solid #3D67FF;
}

.hiddenLink:active .link {
    background: #2749C4;
    color: #fff;
}

@media (max-width: 1919px) {
    .container {
        padding: 8.8vh 11.1vw 0 11.1vw;
    }
    .worksContainer {
        flex: 0 0 48.6%;
    }
    .imgContainer {
        width: 543px;
    }
}

@media (max-width: 1439px) {
    .container {
        padding: 8.32vh 8.33vw;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .worksContainer {
        height: 312px;
        overflow-y: scroll;
    }
    .imgContainer {
        width: 312px;
        height: 312px;
    }
    .hiddenLink {
        padding-top: unset;
    }
    .link {
        margin-left: auto;
        margin-right: auto;
    }
}

@media(max-width: 767px) {
    .container {
        padding: 8.33vw 6.33vw;
    }
    .worksContainer {
        flex: 0 0 100%;
        margin-bottom: 37px;
    }
    .hiddenLink {
        display: none;
    }
    .link {
        padding: unset;
        width: 100%;
        font-size: 18px;
        line-height: 183%;
    }
}