.container {
    display: flex;
    font-family: 'Visby Medium';
    font-size: 16px;
    line-height: 160%;
}

.navLink {
    margin-right: 32px;
    padding: unset;
    overflow: hidden;
    font-size: 16px;
    text-transform: lowercase;
}

.langBtn {
    display: inline;
    padding: 0;
}

.langBtn:hover {
    cursor: pointer;
}

.active,
.navLink:hover {
    color: #96ADFF;
}

@media (max-width: 1919px) {
    .navLink {
        margin-right: 16px;
    }
}

@media(max-width: 1439px) {
    .navSpan {
        position: relative;
        padding-bottom: 8px;
        overflow: hidden;
    }
    .navSpan:after {
        content: '';
        position: absolute;
        inset: 0;
        bottom: 3px;
        border-bottom: 2px solid #fff;
        transform: translateX(-101%);
        transition: transform .3s ease;
    }
    .navLink:hover .navSpan:after {
        transform: translateX(0);
    }
}