@keyframes anim {
    0% {
        d: path("M0.00,643 V0 C149.99,0 271.49,0 643,0 C390.99,00 567.49,00 643,0 V643Z")
    }
    25% {
        d: path("M0.00,643 V0 C149.99,0 243.49,20 300,0 C390.99,10 567.49,30 643,0 V643Z")
    }
    50% {
        d: path("M0.00,643 V0 C149.99,0 271.49,0 643,0 C390.99,00 567.49,00 643,0 V643Z")
    }
    75% {
        d: path("M0.00,643 V0 C149.99,2 243.49,0 300,20 C390.99,30 567.49,15 643,0 V643Z")
    }
    100% {
        d: path("M0.00,643 V0 C149.99,0 271.49,0 643,0 C390.99,00 567.49,00 643,0 V643Z")
    }
}

.animation {
    animation: anim 2s linear infinite;
}